body{
    box-sizing: border-box;
    background-color: 	#CADECA;
    /* overflow-y: hidden; */
    font-family: 'Noto Sans KR', sans-serif;
}
.contenedor{
    max-width: 1400px;
    margin: 0 auto;
}
h2{
    flex: 0 1 100%;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Fredoka One','Satisfy';
}
h3{
    font-size: 18px !important;
    font-family: 'Heebo', sans-serif, serif;
    margin: 0;
    font-weight: 600 !important;
    text-align: justify;
    padding: 0 1rem;
    font-family: "Courgette";
}
img{
    width: 100%;
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
}
@media screen and (min-width:481px){

    .contenido-principal{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .entrada{
        flex: 0 1 calc(50% - 1rem)
    }
}
@media screen and (min-width:768px){

    .entrada{
        flex: 0 1 calc(33% - 1rem)
    }
}
@media screen and (min-width:980px){

    .entrada{
        flex: 0 1 calc(25% - 1rem)
    }
}
.entrada{
    /* border: 1px solid red; */
    z-index:999;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.541);
    margin-bottom: 1rem;
    margin-right: .5rem;
    margin-left: .5rem;
    background-color: #fff;
}
.contenido{
    background-color: #fff;
    text-align: center;
    padding: 1rem;
    
}
.contenido span{
    text-transform: uppercase;
    color: #db008d;
}
.contenido h3{
    
    font-size: .9rem;
    line-height: 1.4rem;
    
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    
}
.btn .boton{
    border: 0;
    overflow: hidden;
    border-radius: 1rem;
    cursor: pointer;
    outline:none;
}
.btn .boton:hover{
    border-radius: 1rem;
    background-color: #339933;
}
.boton{
    display: inline-block;
    background-color: #339933;
    color: rgb(255, 255, 255);
    padding: .8rem 3rem;
    margin-top: 1rem;
    text-decoration: none;
    border-radius: .5rem;
}
.boton:hover{
    opacity: .7;
}